body{
    background-color: #F9F9F9;
  
    text-align: center;

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
h1{
    margin: 0px;
    text-align: center;
    margin-top: 55px;
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    color: #E8F9FD;
    line-height: 1;
}
.intro{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    font-weight: 100;
    color: #040404;
}
.subtittle{
    font-family: 'Fredoka One', cursive;
     font-size: 30px;
     text-align: left;
    

}
hr{
    border: dotted 10px #08b4bd;
    border-bottom: none;
    width: 6%;
    margin: 100px auto;
    
}
p{
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    color: #3E497A;
}
h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    color: #3E497A;
}
h2{
    font-family: 'Titan One', cursive;
    color: #21325E;
    font-size: 50px;
    text-align: center;
    
}
.topcontainer{
    height: 500px;
    text-align: center;
    padding-top: 100px;
    background-image: url(../images/landscape-1844226_1280.png);
    background-position: 1px 800px;
    background-size: cover;
}
.img{
    position: relative;
    display: inline-block;
}
.middle-container{
    background-color: #CDF0EA;
    padding-top: 50px;
}
.bottom-container{
    background-color: #B9F8D3;
    height: 140px;
   padding-top: 40px;
}
.contact-me{
    background-color: #A1E3D8;
    padding: 20px;
}
.footer-link{
    padding: 10px;
}
.btn:hover {
  background-color: #00a4b6 ;
  border: 7px #b5caf3 solid;
  color: #b5caf3;
}
.btn{
    box-sizing: border-box;
    padding: 20px;
     background:  #b5caf3;
     margin: 40px;
     border: 7px #00a4b6 solid;
     border-radius: 50px;
     
}
.btn1:hover{
    color:#b5caf3 ;
}
.btn1{
    color: #00a4b6;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    text-decoration: none;
}

.skill-row1{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}
.skill-row2{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}
.web-img{
    width: 25%;
    float: left;
   margin-right: 30px;
}
.open-img{
    width: 25%;
    float: right;
    margin-right: 30px;
}
.copy{
    margin: 0;
    padding: 20px;
    font-size: 20px;
    color: #8198c6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.profile-img{
    width: 20%;

}
.intro2{
    width: 65%;
    margin: auto;
    padding-bottom: 40px;
}
h4{
    padding: 20px;
    display: inline;
    position: absolute;
    font-size: 30px;
    border: 2px  #30b6b8 solid;
    border-radius: 2px;
    background-color: #B9F8D3;
    font-weight: 500;
    margin: 30px;
    text-align: center;
    
    
    
}
a{
    text-decoration: none;
}

.contributor{
    
    display: inline;
    text-align: center;
    margin: 30px;
}
.swoc{
  
   padding: 40px;
   text-align: center;
   display: inline-block;
 
}
.ssoc{
 float: left;
 padding: 50px;
 text-align: center;
}
.opens{
    background-color: white;
    padding: 10px;
}
.fa{
  
    padding: 30px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 70%;
  }
.fa:hover {
    opacity: 0.7;
  }
  .fa-linkedin {
    background: #3B5998;
    color: white;
    padding: 20px;
   
  }  
  .fa-github {
    background: #000000;
    color: white;
    padding: 20px;
  }
.tindog {
    width: 30em;
    display: block;
    border-radius: 3px;
   text-align: center;
   margin: 0;
  }

  .dice {
    width: 27em;
    display: block;
    border-radius: 3px;
   text-align: center;
   margin: 0;
  }
h6{
    font-size: 40px;
    text-align: center;
    display: inline;
    float: inline-end;
    color: black;
}
 h5{
    font-size: 40px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(15, 15, 15);
    padding: 15px;
    text-align: center;
    margin: 0;
    
 }
 .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: fit-content;
   display: block;
   margin: 20px;
   border-radius: 10px;
   
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */

  td{
    padding: 50px;
  }
  .My-projects{
    text-align: center;
    margin: 30px;
  }